{{ if and (eq .Level 3) (eq .Page.Type "writings") }}

{{ $counter := .Page.Scratch.Get "h3_counter" | default 0 }}
{{ $counter = add $counter 1 }}
{{ .Page.Scratch.Set "h3_counter" $counter }}
{{ if ge $counter 2 }}
<h3 id="{{ .Anchor | safeURL }}" class="special">
    {{ .Text | safeHTML }}
</h3>
{{ else }}
<h3 id="{{ .Anchor | safeURL }}">
    {{ .Text | safeHTML }}
</h3>
{{ end }}
{{ else if and (eq .Level 2) (eq .Page.Type "writings") }}
{{ $counter := .Page.Scratch.Get "h2_counter" | default 0 }}
{{ $counter = add $counter 1 }}
{{ .Page.Scratch.Set "h2_counter" $counter }}
{{ if ge $counter 2 }}
<h2 id="{{ .Anchor | safeURL }}" class="special">
    {{ .Text | safeHTML }}
</h2>
{{ else }}
<h2 id="{{ .Anchor | safeURL }}">
    {{ .Text | safeHTML }}
</h2>
{{ end }}
{{ else }}
<h{{ .Level }} id="{{ .Anchor | safeURL }}">
    {{ .Text | safeHTML }}
</h{{ .Level }}>
{{ end }}